<SideMenu @menuItems={{this.menuList}} />

<div class="list">
    {{#each filteredJobs as |job|}}
    <div class="error">{{job.title}}</div>
    <div class="error">{{job.bio}}</div>
    <div class="error">{{job.jobType}}</div>
    <div class="error">{{job.city}}</div>
    <div class="error">{{job.state}}</div>
    <div class="error">{{job.techStack}}</div>
    {{/each}}
</div>